
@import 'jeet'
@import 'nib'

@import '~purecss/build/base.css'
@import '~purecss/build/menus.css'
@import '~purecss/build/buttons.css'
@import '~purecss/build/forms.css'
//edit()

body {
  background-color: #fff;
  font-family: "Cabin";
}

.background {
  overflow: hidden;
  box-size: border-box;
}

.background:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url("https://i.imgur.com/kj0JsLK.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.logo-text {
  text-align: center;
  color: white;
  font-size: 400%;
  font-family: "Palanquin";
  margin: 50px auto;
  position: relative;
  z-index: 1;
}

*, *:active, *:focus {
  outline: none;
}

.searchbox {
  position: relative;
  height: 40px;
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  border-bottom: 2px solid #fff;
  background: none;
  color: #fff;
  perspective: 1800px;
  perspective-origin: 40% 40%;
  transform-style: preserve-3d;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media screen and (min-width: 680px) {
.searchbox {
  position: relative;
  height: 40px;
  width: 400px;
  margin: 10px auto;
  overflow: hidden;
  border-bottom: 2px solid #fff;
  background: none;
  color: #fff;
  perspective: 1800px;
  perspective-origin: 40% 40%;
  transform-style: preserve-3d;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
}
.searchbox--active {
  color: #000;
}
.searchbox:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 20px;
  left: 0px;
  transform: rotateX(90deg);
  background: #fff;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.searchbox--active:after {
  top: 0px;
  left: 0px;
  transform: rotateX(0deg);
}
.searchbox input {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding-left: 8px;
  padding-right: 44px;
  border: none;
  font-size: 1em;
  color: inherit;
  background: none;
}
.searchbox button {
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 44px;
  border: none;
  background: none;
  font-size: 1.4em;
  color: inherit;
}

.error-panel
  background-color rgb(202, 60, 60)
  border-radius 5px
  height 40px
  line-height 40px
  width 500px
  text-align center
  color white

.checkbox-space {
  margin-right: 20px;
}

.center
  margin 50px 150px

  /* Add a black background color to the top navigation */
.topnav {
    margin-bottom: 40px;
    background-color: #935347;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.logo {
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: auto;
  height: 150px;
  z-index: 1;
}

.headerfont {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-family: 'Arimo';
  font-size: 120%;
  color: #fff;
  text-align: center;
}

.logotext {
  position: relative;
  color: #fff;
  font-size: 200%;
  font-family: 'Lobster';
}
@media screen and (min-width: 400px) {
.searchboxnav {
  position: relative;
  height: 40px;
  width: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  overflow: hidden;
  border-bottom: 2px solid #fff;
  background: none;
  color: #fff;
  perspective: 1800px;
  perspective-origin: 40% 40%;
  transform-style: preserve-3d;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
}
@media screen and (min-width: 680px) {
  .searchboxnav {
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 2px solid #fff;
    background: none;
    color: #fff;
    perspective: 1800px;
    perspective-origin: 40% 40%;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

.searchboxnav--active {
  color: #000;
}

.searchboxnav:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 20px;
  left: 0px;
  transform: rotateX(90deg);
  background: #fff;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.searchboxnav--active:after {
  top: 0px;
  left: 0px;
  transform: rotateX(0deg);
}
.searchboxnav input {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding-left: 8px;
  padding-right: 44px;
  border: none;
  font-size: 1em;
  color: inherit;
  background: none;
}
.searchboxnav button {
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 44px;
  border: none;
  background: none;
  font-size: 1.4em;
  color: inherit;
}

/*
  Filtering
*/

.filter-row {
  margin-top: 10px;
}

.form-control.filter-price
{
    width: 60px;
    margin: 5px 4px;
}

.form-control.sort-by
{
    max-width: 100%;
    margin: 5px 4px;
}

.price-field {
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.shop-name {
  margin-top: 30px;
}

.shop-logo {
  max-width: 100%;
  display:block;
  height: 80px;
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

.product-itemDetails {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    width: auto;
}

.product-itemDetails-Kubas {
  height: 360px;
}

.product-itemDetails-Rimi {
  height: 300px;
}

.product-itemDetails-Maxima {
  height: 230px;
}

.product-itemDetails-Lidl {
  height: 270px;
}

.product-itemDetails:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}

.products {
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: #f3f1ed;
}

.product {
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: #f3f1ed;
  height: auto;
  color: #645945;
  text-align: left;
  padding: 0 8px;
}

.product img {
  width: auto;
  height: 200px;
}

.product p {
  font-size:24px;
  margin-bottom:5px;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.details-container {
  height: 60px;
}

.pi-img-wrapper {
    position: relative;
}
.pi-img-wrapper div {
    position: absolute;
    left: 0;
    top: 0;
    display: inline;
    width: 100%;
    height: 100%;
    text-align: right;
}

.pi-img-size {
    max-width: 100%;
    max-height: 100%;
}

.product-itemDetails h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.product-itemDetails h3 a {
    color: #3e4d5c;
}
.pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #935347;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}